<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="mainContent">

<div class="leftScreen">
    <table id="player" class="battleGrid">
    </table>

    <div class="buttons">
    <ul>
        <li><button id="place_minesweeper">Place Minesweeper</button></li>
        <li><button id="place_destroyer">Place Destroyer</button></li>
        <li><button id="place_battleship">Place Battleship</button></li>
        <li><button id="place_sub">Place Submarine</button></li>
        <li><button onclick="sonarCount()" id="sonar_pulse">Sonar Pulse</button>
        <span id="sonar_Count">2</span></li>
        <li><input type="checkbox" id="is_vertical"></input>
            <label for="is_vertical">Vertical</label></li>
    </ul>
    </div>
</div>

    <div class="rightScreen">
        <table id="letters" class="letterRow">
            <tr>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>E</th>
                <th>F</th>
                <th>G</th>
                <th>H</th>
                <th>I</th>
                <th>J</th>
            </tr>
        </table>
        <table id="opponent" class="battleGrid">
        </table>
    </div>
    <table id="numberCol" class="numberColumn">
        <tr>
            <th>
                1
            </th>
        </tr>
        <tr>
            <th>
                2
            </th>
        </tr>
        <tr>
            <th>
                3
            </th>
        </tr>
        <tr>
            <th>
                4
            </th>
        </tr>
        <tr>
            <th>
                5
            </th>
        </tr>
        <tr>
            <th>
                6
            </th>
        </tr>
        <tr>
            <th>
                7
            </th>
        </tr>
        <tr>
            <th>
                8
            </th>
        </tr>
        <tr>
            <th>
                9
            </th>
        </tr>
        <tr>
            <th>
                10
            </th>
        </tr>
    </table>

</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>