<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="mainContent">

<div class="leftScreen">
    <table id="player" class="battleGrid">
    </table>

    <div class="buttons">
    <ul>
        <li><button id="place_minesweeper">Place Minesweeper</button></li>
        <li><button id="place_destroyer">Place Destroyer</button></li>
        <li><button id="place_battleship">Place Battleship</button></li>
        <li><input type="checkbox" id="is_vertical">Vertical</input></li>
    </ul>
    </div>
</div>

    <div class="rightScreen">
        <table id="opponent" class="battleGrid">
        </table>
    </div>

</div>


<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>