/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border-spacing: 2px;
    margin: 20px;
}

.battleGrid tr {
    height: 30px;
}

.battleGrid td {
    border: 2px solid black;
    width: 30px;
    background-color: blue;
    border-radius: 12px;
}

td:hover {
    background-color: gray;
}

td.placed {
    background-color: gray;
}

td.occupied {
    background-color: green;
}

td.hit {
    background-color: red;
}

td.sink {
    background-color: black;
}

td.miss {
    background-color: white;
}
td.scanned {
    background-color: gray;
}
td.detected {
    background-color: black;
}

.numberColumn {
    margin: -10px;
}
.numberColumn tr {
    height: 30px;
}
.numberColumn th  {
    size:12px;
}

.letterRow {
    margin: -15px;
    width: 410px;
    padding-left: 32px;
}

.letterRow tr {
    size: 12px;
}

.letterRow th {
    width: 12px;
}

h1{
    text-align: center;
    font-family: "Arial Black";
    font-size: 50px;
}

.mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons{
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 25px;
}
.leftScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightScreen{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.buttons button{
    font-family: "Arial Black",sans-serif;
    font-size: 17px;
    color: black;
    padding: 7px;
    background-color: #fff;
    border: 1px solid #ababab;
    border-radius: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ff6961;
    border-color: #333;
    color: #fff;
}

ul{
    margin-top: 10px;
    margin-bottom: 10px
}

ul li{
    padding: 2.5px;
}

label{
    font-family: "Arial Black",sans-serif;
    font-size: 17px;
    color: black;
    cursor: pointer;
}

input{
    cursor: pointer;
    margin-right: 0;
}
