/* Add additional stylesheets below
-------------------------------------------------- */

.battleGrid {
    border-spacing: 2px;
    margin: 20px;
}

.battleGrid tr {
    height: 30px;
}

.battleGrid td {
    border: 2px solid black;
    width: 30px;
    background-color: blue;
    border-radius: 12px;
}

td:hover {
    background-color: gray;
}

td.placed {
    background-color: gray;
}

td.occupied {
    background-color: green;
}

td.hit {
    background-color: red;
}

td.sink {
    background-color: black;
}

td.miss {
    background-color: white;
}

h1{
    text-align: center;
    font-family: "Arial Black";
    font-size: 50px;
}

.mainContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons{
    border-color: black;
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-radius: 10%;
}
.leftScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
}